{
    GENOME_FASTA_INPUT: "/data2/isshamie/external/genome_mtblacklist.fa",
    GENE_ANNOTATION_INPUT: "/data/isshamie/software/refdata-cellranger-atac-GRCh38-1.2.0/genes/genes.gtf",
    ORGANISM: "Homo Sapiens",
    MOTIF_INPUT: "/data/isshamie/software/refdata-cellranger-atac-GRCh38-1.2.0/regions/motifs.pfm",
    "PRIMARY_CONTIGS":
        [
        "chr1",
        "chr2",
        "chr3",
        "chr4",
        "chr5",
        "chr6",
        "chr7",
        "chr8",
        "chr9",
        "chr10",
        "chr11",
        "chr12",
        "chr13",
        "chr14",
        "chr15",
        "chr16",
        "chr17",
        "chr18",
        "chr19",
        "chr20",
        "chr21",
        "chr22",
        "chrX",
        "chrY"
    ],
    NON_NUCLEAR_CONTIGS:
        ["chrM"]
}